<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Beschreibung">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/foto/foto-style.css}" rel="stylesheet" />
    <title>Fotos</title>
</head>


<body>
    <h2 th:text="#{foto.kommentare.ueberschrift}"></h2>
    <a th:text="#{foto.kommentare.zurueckFotoUebersicht}" th:href="@{/foto}"></a>



    <div class="fotofeld">
        <h3 th:text="${foto.dateiname}"></h3>
        <span th:text="${foto.zeitstempel}"></span><br>
        <img th:src="@{/foto/} + ${foto.id}" alt="Foto Nummer: ${foto.id}"><br>
        <a target="_blank" th:href="|https://www.openstreetmap.org/#map=17/${foto.geobreite}/${foto.geolaenge}|"
            th:text="${foto.ort}">Schlumpfhausen</a><br>

        <div th:if="${session.loggedinusername != null}">
            <form class="kommentarfeld" th:action="@{/foto/} + ${foto.id} + @{/kommentar}" th:method="POST">
                <label for="kommentar">
                    <p th:text="#{foto.kommentare.ihrKommentarlautet}"></p>
                    <input type="text" name="kommentar"><br>
                    <input type="submit" name="okbutton" th:value="#{foto.kommentare.hinzufuegen}"> <br />
                </label>
            </form>
        </div>

        <div class="kommentare">
            <h3 th:text="#{foto.kommentare.unterueberschrift}"></h3>
            <div th:each="kommentar: ${foto.kommentare}">
                <span th:text="${kommentar.zeitpunkt} + ' - ' + ${kommentar.autor}"></span> <br>
                <span th:text="${kommentar.text}"></span>
                <br><br>
            </div>
        </div>

    </div>


</body>