<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Beschreibung">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{/css/login/login-style.css}" rel="stylesheet" />
    <title>Web-Projekt</title>
</head>


<body>

    <section class="login-field">
        <h2 th:text="#{login.ueberschrift}"></h2>
        <span th:text="${username != null} ? #{login.hinweis(${username}, ${pwMitLaenge})}" class="hinweis"></span>
        <form action="/login" method="POST">
            <div class="form-group">
                <!-- <label for="username">Username</label> -->
                <input type="text" name="username" class="form-control" id="username" th:placeholder="#{login.benutzername}" >
            </div>
            <div class="form-group">
                <!-- <label for="password">Password</label> -->
                <input type="password" name="password" class="form-control" id="password" th:placeholder="#{login.passwort}">
            </div>
            <button type="submit" name="okbutton" value="OK" class="btn btn-primary" th:text="#{login.anmeldenbutton}">Anmelden</button>
            <button type="submit" name="cancelbutton" value="Cancel"
                class="cancelbutton btn btn-secondary" th:text="#{login.abbrechenbutton}">Abbrechen</button> <br>
        </form>
    </section>

</body>


</html>