<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
   <meta charset="utf-8">
   <meta name="description" content="Beschreibung">
   <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
   <title>Deine Sichtung</title>
</head>

<body>
   <h1 th:text="'Deine Sichtung-Seite 222'"></h1>
   <h3 th:text="${willkommenUser}">Dummy User</h3>
   

   <section class="logout-field">
      <form action="/logout" method="GET">
          <input type="submit" name="logoutbutton" value="Abmelden"> <br />
      </form>
  </section>
</body>

</html>