<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Beschreibung">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link th:href="@{/css/sichtung/sichtung-formular-style.css}" rel="stylesheet" />
    <title>Sichtung</title>
</head>

<body>

    <section class="formular-sichtung-abschnitt">

        <h2 th:text="#{neueSichtungFormular.ueberschrift}">Bitte berichten Sie von Ihrer Sichtung</h2>
    
        <form class="sichtungsformular" th:action="@{/sichtung/meine/neu}" th:method="POST" th:object="${meinesichtungform}">

            <div>
                <label for="benutzername" th:text="#{neueSichtungFormular.benutzer}">Benutzer</label>
                <input type="text" th:field="*{name}" th:errorclass="invalidInputField" name="benutzername">
                <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="invalidErrorText"></div>
            </div>
            
            <div>
                <label for="ort" th:text="#{neueSichtungFormular.ort}">Ort</label>
                <input type="text" th:field="*{ort}" th:errorclass="invalidInputField" name="ort">
                <div th:if="${#fields.hasErrors('ort')}" th:errors="*{ort}" th:errorclass="invalidErrorText"></div>
            </div>
            
            <div>
                <label for="beschreibung" th:text="#{neueSichtungFormular.beschreibung}">Beschreibung</label>
                <input type="text" th:field="*{beschreibung}" th:errorclass="invalidInputField" name="beschreibung">
                <div th:if="${#fields.hasErrors('beschreibung')}" th:errors="*{beschreibung}" th:errorclass="invalidErrorText"></div>
            </div>

            <div>
                <label for="datum" th:text="#{neueSichtungFormular.datum}">Datum</label>
                <input type="date" th:field="*{datum}" th:errorclass="invalidInputField" th:value="*{datum}" name="datum">
                <div th:if="${#fields.hasErrors('datum')}" th:errors="*{datum}" th:errorclass="invalidErrorText"></div>
            </div>
            <div>
                <input type="submit" name="okbutton" value="OK"> <br />
            </div>
        </form>

    </section>

</body>