<!DOCTYPE HTML>
<html lang="de" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Beschreibung">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link th:href="@{/css/sichtung/sichtung-style.css}" rel="stylesheet" />
    <title>Die Liste</title>
</head>

<body>

</body>
<h1>Die Liste</h1>
<h3 th:text="${willkommenUser}">Dummy User</h3>
<section class="logout-field">
    <form action="/logout" method="GET">
        <input type="submit" name="logoutbutton" value="Abmelden"> <br />
    </form>
</section>

<section class="neue-sichtung-feld">
    <form action="/sichtung/meine/neu" method="GET">
        <input type="submit" name="neueSichtungButton" value="Neue Sichtung erfassen"> <br />
    </form>
</section>

<table>
    <thead>
        <tr class="headings">
            <th id="listheader" th:each="header: ${headers}" class="column-title" th:text="${header}"></th>
        </tr>
    </thead>

    <tbody>
        <tr th:each="sichtung, status: ${meinesichtungen}">
            <td th:text="${sichtung.datum}"></td>
            <td th:text="${sichtung.name}"></td>
            <td th:text="${sichtung.ort}"></td>
            <td th:text="${sichtung.beschreibung}"></td>
            <td>
                <a th:href="@{/sichtung/meine/} + ${status.index}" 
                   th:text="edit"></a>
            </td>
            <td>
                <a th:href="@{/sichtung/meine/} + ${status.index} + @{/del}" 
                   th:text="del"></a>
            </td>
        </tr>
    </tbody>
</table>




</html>
